.root{
    -fx-background-color:#EAEEF4;
}

.side_ankerpane{
    -fx-background-color: #080820;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.inner_pane{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;

}
.most_inner_pane{
    -fx-background-color:#6780E2;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}
#btn_workbench {
    -fx-background-color: #141313;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #141313;
}
.btn_workbench {
    -fx-background-color: #639834;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #639834;
}
.btn_workbench:hover {
    -fx-background-color: rgba(176, 190, 197, 0.5); /* Cheerful grey, 50% transparent */
    -fx-border-color: rgba(176, 190, 197, 0.5);

}

#btn_workbench:hover {
    -fx-background-color: rgba(176, 190, 197, 0.5); /* Cheerful grey, 50% transparent */
}


.btn_workbench11 {
    -fx-background-color: #353A56;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #353A56;
}

.btn_workbench11:hover {
    -fx-background-color: rgba(176, 190, 197, 0.5); /* Cheerful grey, 50% transparent */
}

.pane_1{
    -fx-background-color:#748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.pane_11{
    -fx-background-color:#ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #ffffff;
}

.pane_111{
    -fx-background-color:#FD9999;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #FD9999;

}

.pane_1111{
    -fx-background-color:#353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-border-style: solid;
    -fx-border-color: #353A56;
}



.button
{
    -fx-background-color : #05071F;
    -fx-text-fill : #e7e5e5;
}
.button:hover{
    -fx-background-color : #939191;
}
.button:pressed
{
    -fx-background-color : #939191;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #c8c7c7;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.btn-primary {
    -fx-background-color: #c8c7c7;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
    -fx-background-radius: 4px;
}
.btn-primary2 {
    -fx-background-color: #639834;
    -fx-text-fill: #ffffff;
    -fx-padding: 5 10;
    -fx-min-width: 80;
    -fx-background-radius: 4px;
}
.btn-primary:hover {
    -fx-background-color: #939191;
}
.btn-primary2:hover {
    -fx-background-color: #939191;
}

.btn-danger {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-padding: 5 10;
    -fx-min-width: 80;
}

.btn-update {
    -fx-background-color: #639834;
    -fx-text-fill: white;
    -fx-padding: 5 10;
    -fx-min-width: 80;
}

.btn-delete {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-padding: 5 10;
    -fx-min-width: 80;
}

.btn-success {
    -fx-background-color: #639834;
    -fx-text-fill: white;
    -fx-padding: 5 10;
    -fx-min-width: 80;
    -fx-cursor: hand;
}

.btn-success:hover {
    -fx-background-color: #c8cbcd;
}

.btn-danger {
    -fx-background-color: #f44336;
    -fx-text-fill: white;
    -fx-padding: 5 10;
    -fx-min-width: 80;
    -fx-cursor: hand;
}

.btn-danger:hover {
    -fx-background-color: #a88989;
}

.form-popup {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.form-title {
    -fx-text-fill: #353A56;
    -fx-padding: 0 0 20 0;
}







